@font-face {
  font-family: "iconfont"; /* Project id 4335830 */
  src: url('font_ali.woff2?t=1749992986942') format('woff2'),
       url('font_ali.woff?t=1749992986942') format('woff'),
       url('font_ali.ttf?t=1749992986942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zitidaxiao:before {
  content: "\e67b";
}

.icon-quanpingguan:before {
  content: "\e617";
}

.icon-quanpingkai:before {
  content: "\e61d";
}

.icon-bujupeizhi:before {
  content: "\e62b";
}

.icon-yuyanqiehuan:before {
  content: "\e77e";
}

.icon-shangpindingdan:before {
  content: "\e61c";
}

.icon-dingdanguanli:before {
  content: "\e616";
}

.icon-zhifudanju:before {
  content: "\e712";
}

.icon-zhifufangshi:before {
  content: "\e613";
}

.icon-caiwuguanli:before {
  content: "\e647";
}

.icon-wuliu:before {
  content: "\e75f";
}

.icon-peisongfangshi:before {
  content: "\e61b";
}

.icon-pingtaishezhi:before {
  content: "\e625";
}

.icon-icon:before {
  content: "\e654";
}

.icon-shangchengshuoming:before {
  content: "\e611";
}

.icon-huiqiang:before {
  content: "\e60b";
}

.icon-yingxiaogongju-tuangoumiaosha1:before {
  content: "\e610";
}

.icon-dianpuyingxiao:before {
  content: "\e632";
}

.icon-cuxiaozhongxin:before {
  content: "\e659";
}

.icon-xuanxiangka:before {
  content: "\e709";
}

.icon-shanchu21:before {
  content: "\e608";
}

.icon-pinleishanchu_o:before {
  content: "\eb7e";
}

.icon-shanchu4:before {
  content: "\e785";
}

.icon-tianjia:before {
  content: "\e624";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-tianjia1:before {
  content: "\e6de";
}

.icon-choice:before {
  content: "\e621";
}

.icon-shanchu:before {
  content: "\e606";
}

.icon-shanchu1:before {
  content: "\e718";
}

.icon-shanchu2:before {
  content: "\e719";
}

.icon-shanchu3:before {
  content: "\e607";
}

.icon-list:before {
  content: "\e711";
}

.icon-wxbsousuotuiguang:before {
  content: "\e620";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-announcement:before {
  content: "\e6a4";
}

.icon-qiyefuwu:before {
  content: "\e603";
}

.icon-daohanglanmoshi01:before {
  content: "\e622";
}

.icon-daohanglanmoshi02:before {
  content: "\e623";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-fuwuhao:before {
  content: "\e62a";
}

.icon-youhuijuan-xianxing:before {
  content: "\e898";
}

.icon-fuwuqi:before {
  content: "\e643";
}

.icon-pintuan:before {
  content: "\e60d";
}

.icon-tuangou:before {
  content: "\e649";
}

.icon-fuwu2:before {
  content: "\e60f";
}

.icon-yingxiaogongju-tuangoumiaosha:before {
  content: "\e605";
}

.icon-youhuijuan:before {
  content: "\e636";
}

.icon-fuzhukongbai:before {
  content: "\e6c4";
}

.icon-goumaijilu:before {
  content: "\e6c7";
}

.icon-shipinzu:before {
  content: "\e6c8";
}

.icon-shangpinzu:before {
  content: "\e6ca";
}

.icon-tupianlunbo:before {
  content: "\e6cb";
}

.icon-wenbenyu:before {
  content: "\e6cc";
}

.icon-tupianfenzu:before {
  content: "\e6cd";
}

.icon-gonggao:before {
  content: "\e651";
}

.icon-faqituangou:before {
  content: "\e626";
}

.icon-huiyuandengji:before {
  content: "\e64a";
}

.icon-fuwu:before {
  content: "\e615";
}

.icon-pinpai:before {
  content: "\e7b8";
}

.icon-yonghu:before {
  content: "\e61e";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-order:before {
  content: "\e618";
}

.icon-browser1:before {
  content: "\e63c";
}

.icon-shangpinfenlei:before {
  content: "\e634";
}

.icon-shangpinfenlei1:before {
  content: "\e62f";
}

.icon-templatedefault:before {
  content: "\e600";
}

.icon-Authorization-log:before {
  content: "\e63d";
}

.icon-zuzhijigou:before {
  content: "\e66e";
}

.icon-jiansheyanshou:before {
  content: "\e638";
}

.icon-huiyuan:before {
  content: "\e640";
}

.icon-weixinguanli:before {
  content: "\e60e";
}

.icon-dengji:before {
  content: "\e65a";
}

.icon-mendianliebiao:before {
  content: "\e630";
}

.icon-yunyingguanli:before {
  content: "\ebd1";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-quanjushezhi_o:before {
  content: "\eb80";
}

.icon-shuaxin_o:before {
  content: "\eb84";
}

.icon-yunshangchuan_o:before {
  content: "\ebb3";
}

.icon-yunxiazai_o:before {
  content: "\ebb4";
}

.icon-wumoxing:before {
  content: "\ec33";
}

.icon-Member:before {
  content: "\e612";
}

.icon-xitongrizhi:before {
  content: "\e631";
}

.icon-huiyuandengji1:before {
  content: "\e609";
}

.icon-quanxian:before {
  content: "\e60a";
}

.icon-webyemiansheji:before {
  content: "\e641";
}

.icon-caidan:before {
  content: "\e64f";
}

.icon-wenzhangguanli:before {
  content: "\e628";
}

.icon-shangpinguanli:before {
  content: "\e602";
}

.icon-24gl-portraitMalePlus4:before {
  content: "\eb25";
}

.icon-24gl-userGroupPlus:before {
  content: "\eb27";
}

.icon-yonghu1:before {
  content: "\e60c";
}

.icon-shezhi:before {
  content: "\e69d";
}

.icon-8:before {
  content: "\e614";
}

.icon-shangpin:before {
  content: "\e646";
}

.icon-yunyingguanli1:before {
  content: "\e650";
}

.icon-wenzhangguanli1:before {
  content: "\e652";
}

.icon--_xitongrizhi:before {
  content: "\e63e";
}

.icon-shezhi1:before {
  content: "\e6a9";
}

.icon-tianjiayonghu:before {
  content: "\e6c9";
}

.icon-quyuguanli:before {
  content: "\e77c";
}

.icon-quyupeizhi:before {
  content: "\e77d";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

.icon-shangpinguanli1:before {
  content: "\e6ec";
}

.icon-fuwu1:before {
  content: "\e66f";
}

.icon-canshuchaxun:before {
  content: "\e604";
}

.icon-shangchengshezhi:before {
  content: "\e6b6";
}

.icon-moxingyapingfenxi:before {
  content: "\e765";
}

.icon-quanxianziyuan:before {
  content: "\e61f";
}

.icon-shezhi-jiemianshezhi:before {
  content: "\e601";
}

.icon-a-shangpinfenlei_huaban1:before {
  content: "\e731";
}

