
@{
    ViewData["Title"] = "Rex商城(后台)网关服务";
}

@section style {
    <style type="text/css">
        .gateway-container {
            border: 1px #999 dashed;
            border-radius: 5px;
            padding: 10px;
            width: 650px;
            text-align: center;
            margin: 100px auto;
        }

        h2{
            color: green;
            min-height: 100px;
        }
    </style>
}

<div class="gateway-container">
    <img class="logo" src="/images/logo.png" width="210" height="210" />
    <h2>Rex商城(后台)【网关服务】已启动！</h2>
</div>
