@font-face {
  font-family: "custom-icon"; /* Project id 4485092 */
  src: url('iconfont.woff2?t=1718984638164') format('woff2'),
       url('iconfont.woff?t=1718984638164') format('woff'),
       url('iconfont.ttf?t=1718984638164') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-copy:before {
  content: "\e618";
}

.custom-icon-zhifushibai:before {
  content: "\e613";
}

.custom-icon-zhifu_zhifuchenggong:before {
  content: "\e641";
}

.custom-icon-erweimahaibao:before {
  content: "\e7b9";
}

.custom-icon-fenxiang_01:before {
  content: "\e602";
}

.custom-icon-fenxiang_02:before {
  content: "\e739";
}

.custom-icon-zhifubaozhifu:before {
  content: "\e634";
}

.custom-icon-weixin:before {
  content: "\e607";
}

.custom-icon-shezhi:before {
  content: "\e64b";
}

.custom-icon-bangzhuzhongxin:before {
  content: "\e617";
}

.custom-icon-shangpinjiansuo:before {
  content: "\e697";
}

.custom-icon-fuwu:before {
  content: "\e615";
}

.custom-icon-pintuan:before {
  content: "\e60e";
}

.custom-icon-tuangou:before {
  content: "\e649";
}

.custom-icon-miaosha:before {
  content: "\e605";
}

.custom-icon-youhuijuan:before {
  content: "\e784";
}

.custom-icon-jifen:before {
  content: "\e600";
}

.custom-icon-wodeyouhuijuan:before {
  content: "\e7ee";
}

.custom-icon-shoucang:before {
  content: "\e667";
}

.custom-icon-dizhiguanli:before {
  content: "\e63f";
}

.custom-icon-liulanjilu:before {
  content: "\e631";
}

.custom-icon-dailizhongxin:before {
  content: "\e610";
}

.custom-icon-wodeyue:before {
  content: "\e601";
}

.custom-icon-fenxiaozhongxin:before {
  content: "\e60d";
}

.custom-icon-fapiao:before {
  content: "\e643";
}

.custom-icon-fuwuka:before {
  content: "\e6c0";
}

.custom-icon-quanbudingdan:before {
  content: "\e69c";
}

.custom-icon-daipingjia:before {
  content: "\e608";
}

.custom-icon-daishouhuo:before {
  content: "\e666";
}

.custom-icon-daifukuan:before {
  content: "\e616";
}

.custom-icon-daifahuo:before {
  content: "\e638";
}

