<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 欢迎使用！</title>
    <link rel="icon" href="/favicon.ico" />
    
    @RenderSection("style", false)
</head>

<body>
    @RenderBody()

    @RenderSection("scripts", false)
</body>
</html>